/*
 * Hide the page header.
 */

.page-header {
  display: none;
}

/*
 * The gpb-gallery-image images on the home page are set in a block of class
 * gpb-image-gallery. There are 5 per row (3 on smaller screens). The foreground
 * image is either transparent or tinted. The background images are what the
 * viewer sees, and are the same relative dimensions as the foreground images.
 */

.gpb-image-gallery {
}

.gpb-gallery-image {
  // Mobile:
    width: 33.3333%;
  @media screen and (min-width: @screen-xs-min) {
    width: 20%;
  }
  float: left;
  background-size: cover !important;

  img {
    width: 100%;
    height: auto;
  }
}

.gpb-gallery-image-remnant {
  // Mobile:
    display: none;
  @media screen and (min-width: @screen-xs-min) {
    display: unset;
  }
}

/*
 * Put node content in a container
 */

.gpb-container {
}

.node {
  .container;
}

/*
 * Format the event registration page
 */

.page-civicrm {
  .navbar,
  .crm-public-footer,
  .footer {
    display: none;
  }
}

.gpb-container {
  .crm-container {

    .crm-profile {
      border: 0px;

      legend {
        font-family: inherit;
        font-size: 20px;
        width: 100%;
        text-align: center;
      }
    }

    .crm-profile-name-Registration_details,
    .crm-profile-name-Billing_address_52 {
      .crm-section {
        display: inline-block;
      }
    }

    .label {
      color: @text-color;
    }

    /* Hide the progress bar */

    .payment {
      display: none;
    }
  }

  #crm-container.crm-public input[type="text"],
  #crm-container.crm-public input[type="password"],
  #crm-container.crm-public input[type="email"],
  #crm-container.crm-public select {
    border-radius: 20px;
    padding: 5px 15px;
  }

  #crm-container div#printer-friendly {
    display: none;
  }
}
