/*
 * Hide the page header.
 */

.page-header {
  display: none;
}

/*
 * The gpb-gallery-image images on the home page are set in a block of class
 * gpb-image-gallery. There are 5 per row (3 on smaller screens). The foreground
 * image is either transparent or tinted. The background images are what the
 * viewer sees, and are the same relative dimensions as the foreground images.
 */

.gpb-image-gallery {
}

.gpb-gallery-image {
  // Mobile:
    width: 33.3333%;
  @media screen and (min-width: @screen-xs-min) {
    width: 20%;
  }
  float: left;
  background-size: cover !important;

  img {
    width: 100%;
    height: auto;
  }
}

.gpb-gallery-image-remnant {
  // Mobile:
    display: none;
  @media screen and (min-width: @screen-xs-min) {
    display: unset;
  }
}

/*
 * Put node content in a container
 */

.gpb-container {
}

.node {
  .container;
}

/*
 * Format the event registration page
 */

/* No header or footer as the page is embedded in another site */
.page-civicrm {
  .navbar,
  .crm-public-footer,
  .footer {
    display: none;
  }
}

.gpb-container {
  .crm-container {

    /* Contain the form on wide pages */
    form {
      // Mobile
        width: 100%;
      @media @tablet {
        width: 80%;
      }
      @media @normal {
        width: 66%;
      }
      @media @wide {
        width: 50%;
      }

      margin: 0 auto;
    }

    fieldset {
      border: 0px;

      legend {
        font-family: inherit;
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0;
      }
    }

    .crm-section {
      .label {
        color: @text-color;
        width: 35%;
      }

      .content {
        margin-left: 40%;
      }
    }

    /* Hide the progress bar */
    .payment {
      display: none;
    }

    .crm-submit-buttons {
      display: inline-block;
    }

    span.crm-button {
      float: none !important;
      width: 150px;
      margin: 10px auto;

      .crm-i {
        left: 0.9em;
        top: 0.5em;
      }
    }

    a.button,
    a.button:link,
    a.button:visited,
    input.crm-form-submit,
    .ui-dialog-buttonset .ui-button,
    input[type="button"],
    .crm-button {
      background: @brand-secondary;
      color: @text-color;
      text-shadow: none;
      font-size: 15px;
      font-weight: bold;
    }
  }

  #crm-container.crm-public {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    span.crm-button {
      border-radius: 20px;
      padding: 5px 15px;
    }

    .calc-value,
    .content {
      padding-bottom: 14px; /* Since padding-top -s 6px, the total is 20px */
    }

    .crm-profile-name-Registration_details,
    .crm-profile-name-Billing_address_52 {
      .label {
        display: none;
      }

      div.form-item {
        padding-top: 0;
        padding-bottom: 20px;
      }

      .crm-section {
        .clearfix();

        clear: none;

        .content {
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          width: 100%;

          input {
            // Mobile:
              width: 90%;
            @media screen and (min-width: @screen-xs-min) {
              width: 45%;
            }
          }
        }

        /* Inputs which float to the left of others on a large screen */
        &.editrow_first_name-section,
        &.editrow_email-6-section,
        &.editrow_city-5-section,
        &.editrow_state_province-5-section {
          clear: left;

          // Mobile:
            /* Do nothing */
          @media screen and (min-width: @screen-xs-min) {
            float: left;
            padding-right: 20px;

            &.form-item {
              padding-bottom: 0;
            }
          }
        }

        /* Inputs which take a whole row */
        &.editrow_custom_44-section,
        &.helprow-custom_44-section,
        &.editrow_street_address-5-section,
        &.editrow_supplemental_address_1-5-section {
          clear: left;
        }

        /* Inputs which float to the left of others on a large screen, and are 50% wide */
        &.editrow_first_name-section {
          // Mobile:
            /* Do nothing */
          @media screen and (min-width: @screen-xs-min) {
            width: 44%; /* Round down for Chrome */

            input {
              width: 90%;
            }
          }
          @media @tablet {
            width: 49%; /* Round down for Chrome */
          }
        }

        /* Inputs which float to the left of others on a large screen, and are 70% wide */
        &.editrow_email-6-section,
        &.editrow_city-5-section {
          // Mobile:
            /* Do nothing */
          @media screen and (min-width: @screen-xs-min) {
            width: 64%; /* Round down for Chrome */

            input {
              width: 90%;
            }
          }
          @media @tablet {
            width: 69%; /* Round down for Chrome */
          }
        }

        /* Inputs which 30% wide */
        &.editrow_phone-6-2-section,
        &.editrow_postal_code-5-section {
          input {
            // Mobile:
              /* Do nothing */
            @media screen and (min-width: @screen-xs-min) {
              width: 25%;
            }
          }
        }

        /* Inputs which take a whole row */
        &.editrow_custom_44-section,
        &.editrow_street_address-5-section,
        &.editrow_supplemental_address_1-5-section {
          input {
            // Mobile:
              /* Do nothing */
            @media screen and (min-width: @screen-xs-min) {
              width: 89%; /* Round down for Chrome */
            }
            @media @tablet {
              width: 94%; /* Round down for Chrome */
            }
          }
        }

        &.helprow-post {
          display: none;
        }
      }
    }
  }

  #crm-container div#printer-friendly {
    display: none;
  }

  .price-field-amount,
  .event_info_link-section,
  .iCal_links-section,
  .crm-socialnetwork {
    display: none;
  }

  .crm-event-confirm-form-block,
  .crm-event-thankyou-form-block {
    .event_info-group a {
      display: none;
    }
  }
}
