.navbar {
  border-width: 0;
}

.navbar-nav {
  .container;

  float: right;
  width: auto !important;
}

.navbar-default {
  background: url('../header.jpg') 50% 0;
  background-size: cover;

  border-radius: 0;

  .gpb-container {
    .navbar-nav {
      a {
        color: white;
      }

      .active {
        a {
          color: white;
          background: inherit;
        }
      }
    }
  }
}

.navbar-header {
  .logo {
    margin: 15px;
    padding: 0;
  }

  img {
    width: 200px;
  }
}

.navbar-collapse {
  padding: 0;
  border: 0 none;
  box-shadow: none;
  max-height: none;
}

.gpb-header {
  height: 780px; /* .gpb-header-image height + whitespace to content */
}

.gpb-header-announcement {
  margin-top: 180px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
